# Entornos virtuales
melt-env/

# Archivos de entorno
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor/IDE
.vscode/
.idea/

# Sistemas operativos
.DS_Store       (Mac)
Thumbs.db       (Windows)

# Archivos de apoyo
workflow.txt
structure.txt
src/step-one-primary-metaphor/salida.json
src/step-one-primary-metaphor/resultados.json
src/step-one-primary-metaphor/resultados.csv

# Config
src/ai_melt_core/config.py

# env
.env